body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9fafc;
    color: #333;
}

.admin-container {
    display: flex;
    min-height: 100vh;
}


#wrapper {
    display: flex;
    width: 100%;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #111827;
    color: #fff;
    padding: 25px;
}
#wrapper.toggled #sidebar {
    margin-left: -250px;
}

#page-content-wrapper {
    flex: 1;
    background-color: #fff;
}

.summary-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin: 0;
}

footer {
    background-color: #f8f9fa;
}
