header{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 40px 50px;
  max-width: 500px;
  text-align: center;
}
main a {
  display: inline-block;
  background: #007bff;
  color: white;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: 600;
  transition: background 0.3s, transform 0.2s;
}
